body,
html {
  margin: 0;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
}

:root {
  --col: rgb(55, 55, 55);
  --primary: dodgerblue;
}

* {
  user-select: none;
}

img {
  position: relative;
}

.bar {
  position: absolute;
}

.crop {
  position: absolute;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 3px rgba(193, 193, 193, 0.2),
    0px 0px 20px 3px rgba(0, 0, 0, 0.8);
}

.crop {
  animation: 0.6s forwards blur2;
}

.close {
  position: absolute;
  right: var(--margin);
  top: 0px;
  margin-right: -40px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  fill: white;
  opacity: 0;
  transition: 0.2s ease-in-out;

  background-color: var(--col);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.mover {
  position: absolute;
  left: var(--margin);
  top: 0px;
  right: var(--margin);
  bottom: var(--margin);
  z-index: 10000;
  transition: 0.2s ease-in-out;
  background-color: rgba(255, 255, 255, 0);

  margin: 90px;
}

body:hover .mover {
  background-color: rgba(255, 255, 255, 0);
}

@media (max-height: 450px) {
  .mover {
    margin: 0px;
  }
}

body:hover .close {
  opacity: 1;
}

.close:hover path {
  fill: red !important;
}

.close svg {
  transform: scale(1.25);
}

@keyframes blur2 {
  0% {
    filter: blur(10px) contrast(0.2) brightness(10);
  }

  100% {
    filter: blur(0px) contrast(1) brightness(1);
  }
}

:root {
  --stack: 0;
}

.stack-1 {
  --stack: 1;
}

.stack-2 {
  --stack: 2;
}

.stack-3 {
  --stack: 3;
}

.fab {
  background-color: var(--col);
  border-radius: 8px;
  position: absolute;
  left: var(--margin);
  top: 0;
  margin: 10px;
  margin-top: calc(10px + var(--stack) * 90px);
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: 0.2s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.fab svg {
  transform: scale(1.5);
  fill: white;
}

.fab:hover svg {
  fill: lime;
}

.bar--bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.show-opacity {
  opacity: 1 !important;
  pointer-events: all !important;
}

.tool {
  /* border-radius: 8px; */
  background-color: var(--col);
  fill: white;
  overflow: hidden;
  position: relative;
}

.tool--last {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.tool--first {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.tool svg {
  transition: 0.2s ease-in-out;
  transform: scale(1.2) translate(0px, 40px);
}

.tool:hover svg {
  transform: scale(1.5) translate(0px, 10px);
}

.tool--active svg,
.tool--active:hover svg {
  transform: scale(1.6) translate(0px, 15px);
  fill: var(--primary);
}

.tool-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tool-options input[type="color"] {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  overflow: hidden;
  border: none;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
}

.tool-options input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}

.tool-options input[type="color"]::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 50%;
  padding: 0;
}

.tool-sider {
  width: 128px;
  height: 132px;
}

.bar--left {
  transition: 0.2s ease-in-out;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  bottom: var(--margin);
  top: 0px;
  height: unset !important;
}

.bar--left > * {
  opacity: 0;
  margin-right: 20px;
  border-radius: 100px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.2);
  animation: 0.25s calc(var(--index) * 0.05s) forwards slidein
    cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translate(140px, -10px);
  }

  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
